/* Estilo general */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #000000, #1a1a1a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.quiz-container {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(138, 43, 226, 0.3);
    text-align: center;
    animation: glowAnimation 3s ease-in-out infinite alternate;
}

h1 {
    font-size: 2em;
    color: #fff;
    text-shadow: 0 0 15px rgba(138, 43, 226, 0.7);
}

.btn-container {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #8a2be2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

/* Modal - Estilo base */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(138, 43, 226, 0.3);
    display: none; /* Oculto por defecto */
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1000;
    color: #fff;
}

.modal.show {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.modal-content button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #8a2be2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.modal-content button:hover {
    transform: scale(1.05);
}
